body {
    font-size: 17px;
}

.header {
    display: flex;
    padding: 1rem;
}
.header-brand {
    font-size: 2rem;
    font-weight: bold;
}
.header-items {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.header-item {
    font-weight: bold;
    margin-right: 1.5rem;
}

.box {
    background-color: #ebebeb;
    margin-bottom: 1.5rem;
    padding: 1rem;
}
.box-title {
    font-size: 1.7rem;
    font-weight: bold;
}
.box-video {
    margin-top: 1rem;
}
.box-body {
    margin-top: 2rem;
}
.box-content {
    margin-bottom: 0.5rem;
}
.box-headline {
    font-size: 1.2rem;
    font-weight: bold;
}
.box-text {
    text-indent: 1rem;
}
